* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald", sans-serif;


}

html,
body {
    width: 100%;
}

.cabecalho {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 7;

    @media screen and (max-width:700px) {
        padding: 24px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 22px;
    }

    & .cabecalho-logo {
        text-transform: uppercase;
        font-size: 1.7rem;
        letter-spacing: 1.5px;
        color: #ffff;
    }

    & .navegacao {
        display: flex;
        gap: 36px;

        & .navegacao-link {
            color: #ffffff;
            font-size: 1.2rem;
            letter-spacing: .37px;
            transition: all .5s ease-in-out;

            &:hover {
                transform: translateY(-7px);
                color: #aa0000;
            }
        }

    }
}


.carroussel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;


    & .carroussel-list {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;

        & .carroussel-list-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
            z-index: 0;


            &.active {
                opacity: 1;
                z-index: 1;
            }


            &:nth-child(1) {

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                        url('https://cdn.wallpapersafari.com/47/40/TO3jIV.jpg'), rgba(0, 0, 0, 0.4);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;



                    @media screen and (max-width:700px) {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                            url('');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }


            }

            &:nth-child(2) {



                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                        url('https://www.wsupercars.com/wallpapers-wide/Formula-1/Scuderia-Ferrari/2023-Formula1-Ferrari-SF-23-002-1440w.jpg'), rgba(0, 0, 0, 0.4);
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;

                    @media screen and (max-width:700px) {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                            url('https://www.wsupercars.com/wallpapers-phone/Formula-1/Scuderia-Ferrari/2024-Formula1-Ferrari-SF-24-009-2800p.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: bottom;
                    }
                }


                /*                 */



            }

            &:nth-child(3) {

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                        url('https://wallpapercrafter.com/desktop/121090-Formula-1-McLaren-Mclaren-Mp4-Marlboro-Ayrton-Senna-helmet-rain.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;

                    @media screen and (max-width:700px) {
                        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                            url('https://www.wsupercars.com/wallpapers-phone/Formula-1/Red-Bull-Racing/2022-Formula1-Red-Bull-Racing-RB18-004-2400p.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }




            }
        }
    }

    & .carroussel-arrows {
        position: absolute;
        padding: 0 7px;
        width: 100%;
        top: 50%;
        display: flex;
        justify-content: space-between;
        z-index: 3;

        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            & svg {
                width: 41px;
                height: 40px;
                background-color: #fff;
                border-radius: 50%;

            }
        }
    }
}

.anim-next {
    animation: animCarrosussel-next .7s ease-in;
}

.anim-prev {
    animation: animCarrosussel-prev .7s ease-in;
}

@keyframes animCarrosussel-next {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animCarrosussel-prev {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}