* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

html,
body {
  width: 100%;
}

.cabecalho {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 7;
}
.cabecalho .cabecalho-logo {
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 1.5px;
  color: white;
}
.cabecalho .navegacao {
  display: flex;
  gap: 32px;
}
.cabecalho .navegacao .navegacao-link {
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.37px;
  transition: all 0.5s ease-in-out;
}
.cabecalho .navegacao .navegacao-link:hover {
  transform: translateY(-7px);
  color: #aa0000;
}
.cabecalho .menu-hamburguer {
  display: none;
}
.cabecalho .menu-hamburguer-buttons {
  display: none;
}

.carroussel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.carroussel .carroussel-list {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
.carroussel .carroussel-list .carroussel-list-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: 0;
  display: flex;
}
.carroussel .carroussel-list .carroussel-list-item.active {
  display: flex;
  align-items: center;
  opacity: 1;
  z-index: 2;
}
.carroussel .carroussel-list .carroussel-list-item.active .content {
  z-index: 7;
  display: flex;
  height: 50%;
  width: 42%;
  gap: 44px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10.7%;
}
.carroussel .carroussel-list .carroussel-list-item.active .content .content-sub-title {
  color: #aa0000;
  text-transform: uppercase;
  font-size: 21px;
}
.carroussel .carroussel-list .carroussel-list-item.active .content .content-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
}
.carroussel .carroussel-list .carroussel-list-item.active .content .content-footer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.carroussel .carroussel-list .carroussel-list-item.active .content .content-footer .content-text {
  color: #fff;
  letter-spacing: 0.7px;
  width: 100%;
  font-size: 20px;
}
.carroussel .carroussel-list .carroussel-list-item.active .content .content-footer .content-btn {
  padding: 8px 16px;
  background-color: #aa0000;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
}
.carroussel .carroussel-list .carroussel-list-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://cdn.wallpapersafari.com/47/40/TO3jIV.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.carroussel .carroussel-list .carroussel-list-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://ferrari-view.thron.com/api/xcontents/resources/delivery/getThumbnail/ferrari/1920x1080/d50106fa-94a8-4234-86df-0dcf27683fa1.jpg?v=149");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .carroussel .carroussel-list .carroussel-list-item:nth-child(2)::before {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://ferrari-view.thron.com/api/xcontents/resources/delivery/getThumbnail/ferrari/1920x1080/9f7f4385-6fc6-43c4-a9d8-994529c61a51.jpg?v=148");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.carroussel .carroussel-list .carroussel-list-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("https://wallpapercrafter.com/desktop/121090-Formula-1-McLaren-Mclaren-Mp4-Marlboro-Ayrton-Senna-helmet-rain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.carroussel .carroussel-arrows {
  position: absolute;
  padding: 0 7px;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.carroussel .carroussel-arrows button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.carroussel .carroussel-arrows button svg {
  width: 41px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.anim-next {
  animation: animCarrosussel-next 0.7s ease-in;
}

.anim-prev {
  animation: animCarrosussel-prev 0.7s ease-in;
}

@keyframes animCarrosussel-next {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animCarrosussel-prev {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animMenuHamb {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
/* ==== Responsividade separada ==== */
@media screen and (max-width: 700px) {
  .cabecalho {
    width: 100%;
    padding: 21px 10%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12.7px;
  }
  .cabecalho .cabecalho-logo {
    font-size: 24px;
  }
  .cabecalho .navegacao {
    display: none;
  }
  .cabecalho .menu-hamburguer {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8901960784);
    color: #fff;
    animation: animMenuHamb 0.7s ease-in-out;
  }
  .cabecalho .menu-hamburguer.active-hamb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cabecalho .menu-hamburguer.active-hamb .menu-hamburguer-cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47.7vh;
    width: 100%;
    z-index: 1;
  }
  .cabecalho .menu-hamburguer.active-hamb .menu-hamburguer-cabecalho .menu-hamburguer-cabecalho-logo {
    text-transform: uppercase;
  }
  .cabecalho .menu-hamburguer.active-hamb .menu-hamburguer-cabecalho .menu-hamburguer-cabecalho-navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 17%;
    gap: 20px;
    font-size: 20px;
  }
  .cabecalho .menu-hamburguer.active-hamb .menu-hamburguer-cabecalho .menu-hamburguer-cabecalho-navegacao .menu-hamburguer-cabecalho-navegacao-links {
    text-transform: uppercase;
    border-bottom: 0.1rem solid #aa0000;
    color: #fff;
    width: 77%;
    text-align: right;
    padding: 0px 12px;
  }
  .cabecalho .menu-hamburguer-buttons {
    display: block;
  }
  .cabecalho .menu-hamburguer-buttons button {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: transparent;
    border: none;
  }
  .cabecalho .menu-hamburguer-buttons button .hamb-style {
    width: 24px;
    height: 1.7px;
    background-color: #fff;
    z-index: 3;
    transform-origin: center;
    transition: 0.5s ease-in-out;
  }
  .cabecalho .menu-hamburguer-buttons button.close-hamb .hamb-style:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  .cabecalho .menu-hamburguer-buttons button.close-hamb .hamb-style:nth-child(2) {
    display: none;
  }
  .cabecalho .menu-hamburguer-buttons button.close-hamb .hamb-style:nth-child(3) {
    transform: translateY(-4px) rotate(45deg);
  }
  .carroussel .carroussel-list .carroussel-list-item.active {
    justify-content: space-evenly;
  }
  .carroussel .carroussel-list .carroussel-list-item.active .content {
    justify-content: center;
    width: 72%;
    margin: 0%;
    margin-left: 3%;
    gap: 25.7px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
  .carroussel .carroussel-list .carroussel-list-item.active .content .content-sub-title {
    font-size: 15px;
  }
  .carroussel .carroussel-list .carroussel-list-item.active .content .content-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 22.7px;
  }
  .carroussel .carroussel-list .carroussel-list-item.active .content .content-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 22px;
  }
  .carroussel .carroussel-list .carroussel-list-item.active .content .content-footer .content-text {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.2px;
    width: 100%;
  }
  .carroussel .carroussel-list .carroussel-list-item.active .content .content-footer .content-btn {
    padding: 8px 16px;
    background-color: #aa0000;
    color: #fff;
    border: none;
    border-radius: 25px;
    transform: translateX(-0.7px);
    font-size: 14px;
  }
  .carroussel .carroussel-list .carroussel-list-item:nth-child(1)::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/736x/dd/99/24/dd99245a1b373862ca5fa7a2489649a6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .carroussel .carroussel-list .carroussel-list-item:nth-child(2)::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.wsupercars.com/wallpapers-phone/Formula-1/Scuderia-Ferrari/2024-Formula1-Ferrari-SF-24-009-2800p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .carroussel .carroussel-list .carroussel-list-item:nth-child(3)::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.wsupercars.com/wallpapers-phone/Formula-1/Red-Bull-Racing/2022-Formula1-Red-Bull-Racing-RB18-004-2400p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .carroussel .carroussel-arrows button svg {
    width: 28px;
    height: 28px;
  }
}/*# sourceMappingURL=style.css.map */