* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

html,
body {
    width: 100%;
}

.cabecalho {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 7;

    .cabecalho-logo {
        text-transform: uppercase;
        font-size: 1.7rem;
        letter-spacing: 1.5px;
        color: #ffff;
    }

    .navegacao {
        display: flex;
        gap: 32px;

        .navegacao-link {
            color: #ffffff;
            font-size: 1.2rem;
            letter-spacing: 0.37px;
            transition: all 0.5s ease-in-out;

            &:hover {
                transform: translateY(-7px);
                color: #aa0000;
            }
        }
    }

    .menu-hamburguer {
        display: none;
    }

    .menu-hamburguer-buttons {
        display: none;
    }
}

.carroussel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;

    .carroussel-list {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;

        .carroussel-list-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
            z-index: 0;
            display: flex;


            &.active {
                display: flex;
                align-items: center;
                opacity: 1;
                z-index: 2;

                .content {
                    z-index: 7;
                    display: flex;
                    height: 50%;
                    width: 42%;
                    gap: 44px;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 10.7%;

                    .content-sub-title {
                        color: #aa0000;
                        text-transform: uppercase;
                        font-size: 21px;
                    }

                    .content-title {
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 32px;
                    }

                    .content-footer {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .content-text {
                            color: #fff;
                            letter-spacing: 0.7px;
                            width: 100%;
                            font-size: 20px;
                        }

                        .content-btn {
                            padding: 8px 16px;
                            background-color: #aa0000;
                            color: #fff;
                            border: none;
                            border-radius: 25px;
                            font-size: 18px;
                        }
                    }



                }

            }

            &:nth-child(1)::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url('https://cdn.wallpapersafari.com/47/40/TO3jIV.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
            }

            &:nth-child(2)::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('https://ferrari-view.thron.com/api/xcontents/resources/delivery/getThumbnail/ferrari/1920x1080/d50106fa-94a8-4234-86df-0dcf27683fa1.jpg?v=149');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;

                @media screen and (max-width:1440px) {
                    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                        url('https://ferrari-view.thron.com/api/xcontents/resources/delivery/getThumbnail/ferrari/1920x1080/9f7f4385-6fc6-43c4-a9d8-994529c61a51.jpg?v=148');
                    background-size: cover;
                    background-repeat: no-repeat;
                }

            }

            &:nth-child(3)::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)),
                    url('https://wallpapercrafter.com/desktop/121090-Formula-1-McLaren-Mclaren-Mp4-Marlboro-Ayrton-Senna-helmet-rain.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                z-index: 1;

            }
        }
    }

    .carroussel-arrows {
        position: absolute;
        padding: 0 7px;
        width: 100%;
        top: 50%;
        display: flex;
        justify-content: space-between;
        z-index: 3;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
                width: 41px;
                height: 40px;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
}

.anim-next {
    animation: animCarrosussel-next 0.7s ease-in;
}

.anim-prev {
    animation: animCarrosussel-prev 0.7s ease-in;
}

@keyframes animCarrosussel-next {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animCarrosussel-prev {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

/* ==== Responsividade separada ==== */

@media screen and (max-width: 700px) {
    .cabecalho {
        width: 100%;
        padding: 21px 10%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 12.7px;

        .cabecalho-logo {
            font-size: 24px;
        }

        .navegacao {
            display: none;
        }

        .menu-hamburguer {

            &.active-hamb {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                width: 75%;
                height: 100vh;
                background-color: #000;
                color: #fff;

                .menu-hamburguer-cabecalho {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 47.7vh;
                    width: 100%;
                    z-index: 1;


                    .menu-hamburguer-cabecalho-logo {
                        text-transform: uppercase;

                    }

                    .menu-hamburguer-cabecalho-navegacao {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        margin-top: 17%;
                        gap: 20px;
                        font-size: 20px;

                        .menu-hamburguer-cabecalho-navegacao-links {
                            text-transform: uppercase;
                            border-bottom: .1rem solid #424141;
                            color: #fff;
                            width: 77%;
                            text-align: right;
                            padding: 0px 12px;
                        }
                    }

                }
            }

        }

        .menu-hamburguer-buttons {
            display: block;

            button {
                position: absolute;
                right: 10%;
                top: 24px;
                background-color: transparent;
                border: none;
                display: none;
                z-index: 3;

                &.active {
                    display: block;

                    svg {
                        width: 32px;
                        height: 32px;
                    }
                }



            }


        }
    }

    .carroussel {
        .carroussel-list {

            .carroussel-list-item {
                &.active {
                    justify-content: space-evenly;

                    .content {
                        justify-content: center;
                        width: 73%;
                        margin-left: 3%;
                        gap: 36px;
                        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

                        .content-sub-title {
                            color: #aa0000;
                            text-transform: uppercase;
                            font-size: 15px;
                        }



                        .content-title {
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 22.7px;
                        }

                        .content-footer {
                            display: flex;
                            flex-direction: column;
                            gap: 22px;

                            .content-text {
                                color: #fff;
                            }

                            .content-btn {
                                padding: 8px 16px;
                                background-color: #aa0000;
                                color: #fff;
                                border: none;
                                border-radius: 25px;
                                transform: translateX(-.7px);
                            }
                        }



                    }
                }
            }

            .carroussel-list-item:nth-child(1)::before {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('https://i.pinimg.com/736x/dd/99/24/dd99245a1b373862ca5fa7a2489649a6.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .carroussel-list-item:nth-child(2)::before {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('https://www.wsupercars.com/wallpapers-phone/Formula-1/Scuderia-Ferrari/2024-Formula1-Ferrari-SF-24-009-2800p.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
            }

            .carroussel-list-item:nth-child(3)::before {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('https://www.wsupercars.com/wallpapers-phone/Formula-1/Red-Bull-Racing/2022-Formula1-Red-Bull-Racing-RB18-004-2400p.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        .carroussel-arrows {
            button {
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}